#copyid{
    cursor: pointer;
    background-color: red;
    color: white;
    border: 1px solid white;
    border-radius: 6px;
    font-size: 15px;
}
.question{
    border: 2px solid rgb(47, 8, 241) ;
    border-radius: 12px;
    background-color: rgb(229, 62, 235);
    color: white;
}

.main{
    background-color: rgb(210, 245, 241);
}
.input{
    font-size: large;
    background-color: coral;
}